<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud nodejs Mysql</title>
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
    <h1>
        Hola mundo!
    </h1>
</body>
</html>